@tailwind base;
@tailwind components;
@tailwind utilities;

.__className_e66fe9{
  user-select: none;
}

.error-required {
  color: rgb(239, 98, 98);
  padding-left: 10px;
}

.loading-icon {
  color: #1e3a8a;
  font-size: 2rem;
  animation: animate 3s infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/* @media print{
  body{
    visibility: hidden;
  }
  #print_container{
    visibility: visible;
    position: absolute;
    left: 0;
    top:0;
  } 
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
